<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePasswordServlet</servlet-name>
        <servlet-class>servlets.UserChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHotelServlet</servlet-name>
        <servlet-class>servlets.LoadHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHotelServlet</servlet-name>
        <servlet-class>servlets.SearchHotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDateBookingServlet</servlet-name>
        <servlet-class>servlets.ChangeDateBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>servlets.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBookingServlet</servlet-name>
        <servlet-class>servlets.UserBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBookingDetailServlet</servlet-name>
        <servlet-class>servlets.UserBookingDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RatingServlet</servlet-name>
        <servlet-class>servlets.RatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>servlets.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePasswordServlet</servlet-name>
        <url-pattern>/UserChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHotelServlet</servlet-name>
        <url-pattern>/LoadHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHotelServlet</servlet-name>
        <url-pattern>/SearchHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDateBookingServlet</servlet-name>
        <url-pattern>/ChangeDateBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBookingServlet</servlet-name>
        <url-pattern>/UserBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBookingDetailServlet</servlet-name>
        <url-pattern>/UserBookingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RatingServlet</servlet-name>
        <url-pattern>/Rating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/DeleteBooking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>
</web-app>
